[includeIf "gitdir:~/pet-projects/"]
  	path = .gitconfig-personal
[includeIf "gitdir:~/internal-projects/"]
  	path = .gitconfig-professional
[url "git@vcs2.b2brocker.tech:"]
    insteadOf = https://vcs2.b2brocker.tech/
[url "git@github.com:"]
    insteadOf = https://github.com/