[includeIf "gitdir:~/pet-projects/"]
    path = .config/.gitconfig-personal
[includeIf "gitdir:~/internal-projects/"]
    path = .config/.gitconfig-professional
[url "git@github.com:"]
    insteadOf = https://github.com/
